/* line 14, ../compass/sass/style.scss */
header {
  display: block;
  min-height: 20px;
  background: white;
  padding: 10px;
}

/* line 20, ../compass/sass/style.scss */
footer {
  height: 25%;
  background: #45ba8e;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 27, ../compass/sass/style.scss */
.search-input {
  position: relative;
  display: inline-block;
  position: absolute;
  width: 590px;
  height: 40px;
  font-family: sans-serif;
  font-size: 2rem;
  color: #333333;
  border: 1px solid #989898;
  margin: -5px 5px 0;
  background-color: white;
}

/* line 40, ../compass/sass/style.scss */
.search {
  top: 0;
  left: 0;
  z-index: 0;
  width: 100px;
  position: absolute;
  width: 475px;
  height: 35px;
  font-family: sans-serif;
  font-size: 2rem;
  color: #333333;
  border: none;
  outline: none;
}

/* line 54, ../compass/sass/style.scss */
.float-right {
  float: right;
}

/* line 57, ../compass/sass/style.scss */
.mhe-logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  border: 0;
  opacity: 1;
  height: 42px;
}

/* line 65, ../compass/sass/style.scss */
.font {
  font-family: sans-serif;
  font-size: 2rem;
  color: #333333;
}

/* line 70, ../compass/sass/style.scss */
.notifications {
  text-align: center;
  color: white;
  background-color: #45ba8e;
  padding: 0 auto;
  margin: 0;
  height: 22px;
  width: 22px;
  line-height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 83, ../compass/sass/style.scss */
figcaption {
  color: white;
}

/* line 86, ../compass/sass/style.scss */
.image-container {
  position: relative;
}

/* line 89, ../compass/sass/style.scss */
.images {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
/* line 94, ../compass/sass/style.scss */
.images img {
  max-width: 100%;
  width: 33.48333%;
  height: auto;
  display: inline;
  margin: 0 0 -3px;
  border: none;
  opacity: 0.2;
}
/* line 102, ../compass/sass/style.scss */
.images img:first-child {
  opacity: 0.2;
}
/* line 105, ../compass/sass/style.scss */
.images img:nth-child(2) {
  opacity: 1;
}
/* line 108, ../compass/sass/style.scss */
.images img:not(:nth-child(2)) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 113, ../compass/sass/style.scss */
.images i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  text-shadow: 0 0 10px #000;
  font-size: 4em;
  z-index: 9;
}
/* line 122, ../compass/sass/style.scss */
.images i:hover {
  color: white;
  text-shadow: 0 0 10px #000;
}
/* line 126, ../compass/sass/style.scss */
.images i:nth-child(1) {
  left: 0.5em;
}
/* line 129, ../compass/sass/style.scss */
.images i:nth-child(2) {
  right: 0.5em;
}

/* line 134, ../compass/sass/style.scss */
.center {
  text-align: center;
}

@media all and (max-width: 640px) {
  /* line 138, ../compass/sass/style.scss */
  #page {
    flex-flow: column;
  }
}
/* line 142, ../compass/sass/style.scss */
ul.master_navigation {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}
/* line 149, ../compass/sass/style.scss */
ul.master_navigation li {
  font-family: sans-serif;
  display: inline-block;
  padding: 0 2.5%;
}

/* line 155, ../compass/sass/style.scss */
.icon-arrow-left4:before {
  content: "\e6d0";
}

/* line 158, ../compass/sass/style.scss */
.icon-arrow-right4:before {
  content: "\e6d3";
}

/* line 161, ../compass/sass/style.scss */
#welcome-message {
  display: block;
  text-align: center;
  font-size: 5vh;
  padding-top: 1%;
  vertical-align: middle;
  height: 10%;
  background: url(../img/background-cut.png) white no-repeat center center;
  x-background-color: white;
  position: relative;
  x-line-height: 20%;
  width: 100%;
}
